APP_MODE=production

WP_TESTS_DIR=/Users/User/Desktop/workflow/wordpress-develop/tests/phpunit/

DB=wp_tests

CONNECT_ACCOUNT_URL=https://api.blockera.test/authorize

CREATE_ACCOUNT_URL=https://blockera.ai/my-account/license-manager

ACCESS_TOKEN_URL=https://api.blockera.test/auth/v1/access-token

ACCOUNT_INFO_URL=https://blockera.ai/wp-json/auth/v1/licenses

UNSUBSCRIBE_URL=https://blockera.ai/wp-json/auth/v1/license/delete

GET_ZIP_FILE_URL=https://blockera.ai/auth/v1/license/get-zip-file

API_BASE_URL=https://api.blockera.test

ALLOWED_PLANS_URL=https://blockera.ai/wp-json/auth/v1/products/allowed-plans

RESOURCE_OWNER_DETAILS_URL=https://api.blockera.test/files/v1/download

AUTOLOADER_COORDINATOR_REF=blockera-pro
BLOCKERA_EXTERNAL_SOURCE_CODES_PATH=/absolute/path/to/shared/source-codes
