.blockera-auth-container {
	text-align: center;
    padding: 40px 0;

	.title {
		font-size: 2em;
		line-height: 1.5;
		margin: 0;
	}

	.description {
		font-size: 16px;
		line-height: 1.5;
		margin: 0 0 10px 0;
	}

	.domain {
		gap: 5px;
		font-size: 14px;
		width: -moz-fit-content;
		width: fit-content;
		height: 29px;
		color: var(--blockera-controls-primary-color);
		background-color: #cfe0ff;
		line-height: 29px;
		border: none;
		border-radius: 4px;
		padding: 2px 12px;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		font-weight: 600;

		span {
			opacity: 0.5;
		}
	}

	.link-icon-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		--line-color: #cfe0ff;
		position: relative;
		--line-height: 120px;
		height: var(--line-height);

		.dashed-line {
			width: 2px;
			height: var(--line-height);
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 50%;
			transform: translateX(-50%);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 200%;
				background: repeating-linear-gradient(to bottom, var(--blockera-controls-primary-color) 0, var(--blockera-controls-primary-color) 4px, transparent 4px, transparent 8px);
				animation: moveDashes 1s linear infinite;
				opacity: 0.5;
			}
		}

		&::after {

			.dashed-line::before {
				animation-delay: 0.5s;
			}
		}

		svg {
			fill: var(--blockera-controls-primary-color);
			border-radius: 50%;
			padding: 4px;
			background-color: var(--line-color);
			outline: 4px solid #ffffff;
			z-index: 1;
		}
	}

	@keyframes moveDashes {

		from {
			transform: translateY(-8px);
		}

		to {
			transform: translateY(0);
		}
	}

	.activate-call-to-action {
		width: 100%;
		max-width: 390px;
		height: 45px;
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 15px !important;
		text-transform: uppercase;
	}

	.how-to {
		display: flex;
		flex-wrap: wrap;
		font-size: 14px;
		margin: 20px auto 0 auto;
		color: #8a8a8a;
		gap: 3px;
		width: 72%;
		justify-content: center;

		a {
			color: var(--blockera-controls-primary-color);
			text-decoration: underline;
		}
	}

	.blockera-auth-congratulations {
		line-height: 2;
	}

	p {
		font-size: 16px;
	}

	.blockera-auth-success-buttons {
		width: 50%;
		margin: 100px auto 0 auto;
		justify-content: center;

		.create-page,
		 .manage-licenses {
			border-radius: 5px;
		}
	}

}

.blockera-component-blockera-license-container {

	.account-info {

		.blockera-control-account-avatar {
			width: 50px !important;
			height: 50px !important;
		}

		h3 {
			font-size: 14px;
		}

		p {
			font-size: 13px;
			color: #a3a3a3;
		}
	}

	.blockera-licenses-subtitle {
		font-size: 14px;
		color: #6c6c6c;
		font-weight: 500;
		margin-bottom: 0;
		text-transform: uppercase;

		&:first-child {
			margin-top: 0;
		}
	}

	.blockera-component-license {
		background-color: #ffffff;
		border: solid 1px transparent;
		border-radius: 3px;
		padding: 2px 15px;
		height: 90px;
		flex: 1;
		position: relative;

		&.active {
			border-color: #cfe0ff;
		}

		&.is-expired {
			border-color: #e60000;
		}

		.product-title {
			margin: 0;
			padding: 0;
			text-align: left;
			font-size: 16px;
		}

		.product-details {
			padding: 0;
			margin: 0;
			font-size: 14px;
			display: flex;
			align-items: center;
			gap: 10px;
			color: #6c6c6c;
			font-weight: 400;
		}

		.product-status {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: #17c20033;
			position: absolute;
			right: 10px;
			line-height: 32px;
			text-align: center;

			svg {
				fill: #17c200;
			}
		}

		.blockera-subscription-actions {
			right: 10px;
			position: absolute;
		}
	}
}
