.blockera-auth-container {
	text-align: center;
    padding: 40px 0;

	.title {
		font-size: 2em;
		line-height: 1.5;
		margin: 0;
	}

	.description {
		font-size: 16px;
		line-height: 1.5;
		margin: 0 0 10px 0;
	}

	.domain {
		gap: 5px;
		font-size: 14px;
		width: -moz-fit-content;
		width: fit-content;
		color: var(--blockera-controls-primary-color);
		background-color: #cfe0ff;
		border: none;
		border-radius: 4px;
		padding: 6px 12px;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: row;
		font-weight: 600;

		span {
			opacity: 0.5;
		}
	}

	.site-domain-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		--line-color: #cfe0ff;
		position: relative;
		--line-height: 120px;
		height: var(--line-height);

		.dashed-line {
			width: 2px;
			height: var(--line-height);
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 50%;
			transform: translateX(-50%);

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 200%;
				background: repeating-linear-gradient(to bottom, var(--blockera-controls-primary-color) 0, var(--blockera-controls-primary-color) 4px, transparent 4px, transparent 8px);
				animation: moveDashes 1s linear infinite;
				opacity: 0.5;
			}
		}

		&::after {

			.dashed-line::before {
				animation-delay: 0.5s;
			}
		}

		svg {
			fill: var(--blockera-controls-primary-color);
			border-radius: 50%;
			padding: 4px;
			background-color: var(--line-color);
			outline: 4px solid #ffffff;
			z-index: 1;
		}
	}

	@keyframes moveDashes {

		from {
			transform: translateY(-8px);
		}

		to {
			transform: translateY(0);
		}
	}

	.activate-call-to-action {
		width: 100%;
		max-width: 390px;
		height: 45px;
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 15px !important;
		text-transform: uppercase;
	}

	.how-to {
		display: flex;
		flex-wrap: wrap;
		font-size: 14px;
		margin: 20px auto 0 auto;
		color: #8a8a8a;
		gap: 3px;
		width: 100%;
		justify-content: center;
		text-wrap: pretty;
		max-width: 430px;

		a {
			color: var(--blockera-controls-primary-color);
			text-decoration: underline;
		}
	}

	.blockera-auth-congratulations {
		line-height: 1.6;
		margin: 0;
		text-wrap: pretty;
	}

	p {
		font-size: 16px;
		margin: 0;
		text-wrap: pretty;
	}
}

.blockera-component-blockera-license-container {

	.account-info {
		background-color: var(--card-bg-color);
		border-radius: var(--card-border-radius);
		padding: calc(var(--card-padding) * 0.7);
		border: var(--card-border);

		.blockera-control-account-avatar {
			width: 68px !important;
			height: 68px !important;
			border-radius: 100% !important;
			object-fit: cover !important;
		}

		h3 {
			font-size: 18px;
			margin: 0;
		}

		p {
			font-size: 14px;
			color: #a3a3a3;
		}

		.blockera-component-button {
			font-size: 13px !important;
			font-weight: 500 !important;
		}
	}

	.blockera-licenses-subtitle {
		font-size: 15px;
		color: var(--blockera-controls-primary-color);
		font-weight: 500;
		margin: 0;
		text-transform: uppercase;
	}

	.blockera-component-license {
		background-color: var(--card-bg-color);
		border-radius: var(--card-border-radius);
		padding: calc(var(--card-padding) * 0.7);
		border: var(--card-border);
		flex: 1;
		position: relative;

		&.is-expired-license {
			border-color: #ffa9a9;
		}

		img {
			width: 100%;
			max-width: 68px;
			max-height: 68px;
			height: auto;
			border-radius: calc(var(--card-border-radius) * 0.7);
		}

		.product-title {
			margin: 0;
			padding: 0;
			text-align: left;
			font-size: 18px;
		}

		.product-details {
			padding: 0;
			margin: 0;

			p {
				font-size: 14px;
				color: #a3a3a3;
			}
		}

		.product-status {
			--status-color: #0fa600;
			border-radius: 100px;
			background-color: color-mix(in srgb, var(--status-color) 17%, #ffffff);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 4px 13px 4px 7px;
			gap: 5px;
			font-size: 14px;
			font-weight: 500;
			color: var(--status-color);
			text-transform: capitalize;

			svg {
				fill: var(--status-color);
			}

			&.status-active {
				--status-color: #0fa600;
			}

			&.status-expiring,
			&.status-expired {
				--status-color: #e60000;
			}
		}
	}
}
